<div class="contents">
    <% @words.each do |word|%>
        <div class="content_post">
            <%= word.word %>
            <%= word.text %>
            <%= word.name %>
            <%= button_to '削除', word_path(word.id), method: :delete %>
            <%= link_to '編集', edit_word_path(word.id), method: :get %>
            <%= link_to '詳細', word_path(word.id), method: :get %>
        </div>
    <% end %>
</div>