<!DOCTYPE html>
<html>
  <head>
    <title>お守り言葉掲示板（仮）</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="header">
      <div class="header__wrapper">
        <div class="header__logo">
          <h1 class="header_title"><%= link_to 'お守り言葉掲示板（仮）', words_path %></h1>
        </div>
        <div class="header__search">
        </div>
        <div class="header__nav">
          <ul class="nav">
            <% if user_signed_in? %>
              <li><%= current_user.nickname %></li>
              <li><%= link_to 'マイページ', "/users/#{current_user.id}" %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              <li><%= link_to '投稿する', new_word_path %></li>
            <% else %>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
              <li><%= link_to '新規登録', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>Copyright お守り言葉掲示板 2022.</p>
    </footer>
  </body>
</html>
