<!DOCTYPE html>
<html>
  <head>
    <title>AmuletBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="header">
      <div class="header__wrapper">
        <div class="header__logo">
          <h1 class="header_title"><a href="/">Amulet Board</a></h1>
          <img src="logo.png">
        </div>
        <div class="header__search">
        </div>
        <div class="header__nav">
          <ul class="nav">
            <li><%= link_to '投稿する', new_word_path %></li>
            <li>ログイン</li>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright AmuletBoard 2022.
      </p>
    </footer>
  </body>
</html>
